<!-- -*- mode: XML -*- -->
<launch>   	
	<node pkg="tf" type="static_transform_publisher" name="base_jt" args="0.0 0.0 0.0 0 0 0 /base_footprint /base_link 66"></node>	
	<node pkg="tf" type="static_transform_publisher" name="sickFjt" args="0.384 0.0 0.0 0 0 0 /base_link /sickF 66"></node>
	<node pkg="tf" type="static_transform_publisher" name="Rearjt" args="-0.39 0.0 0.0 3.1416 0 0 /base_link /lrear 66"></node>	
	<node pkg="tf" type="static_transform_publisher" name="Rightjt" args="0.0 -0.332 0.0 -1.571 0 0 /base_link /lright 66"></node>
	<node pkg="tf" type="static_transform_publisher" name="Leftjt" args="0.0 0.332 0.0 1.571 0 0 /base_link /lleft 66"></node>
	<node pkg="tf" type="static_transform_publisher" name="ref_jt" args="0.384 0.0 0.0 0 0 0 /base_link /refscan 66"></node>
	<node pkg="tf" type="static_transform_publisher" name="maplaser_jt" args="0.0 0.0 0.0 0 0 0 /base_link /maplaser 66"></node>
</launch>
