<?xml version="1.0"?>

<launch>
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_RoboSense">

        <remap from="cloud_in" to="/rslidar_points"/> 
        <remap from="scan" to="RoboScan"/>
        <rosparam>
            target_frame: RoboSense
            transform_tolerance: 0.01
            min_height: -0.7
            max_height: 0.3

            angle_min: -2.35 #-1.5708 #-3.1415 #-1.5708 # -M_PI/2
            angle_max: 2.35 #1.5708 #3.1415 #1.5708 # M_PI/2
            angle_increment: 0.00393 #0.0087 # M_PI/360 0.225 deg resolution
            scan_time: 0.1
            range_min: 0.05
            range_max: 80.0
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>
		<!--
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="RoboSense_filter">
      <rosparam command="load" file="$(find htbot)/config/shadow_RS.yaml" />
      <remap from="scan" to="RoboScan"/>
      <remap from="scan_filtered" to="RoboScanSH"/>
    </node>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="RoboSense_median_filter">
      <rosparam command="load" file="$(find htbot)/config/median_RS.yaml" />
      <remap from="scan" to="RoboScanSH"/>
      <remap from="scan_filtered" to="scanRoboSense"/>
    </node>
		-->
</launch>
