# SUBSYSTEM=="video4linux", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0772", MODE:="666", SYMLINK+="video_ms"
SUBSYSTEM=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0772", MODE:="666", SYMLINK+="video_ms"
SUBSYSTEM=="usb", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9520", MODE:="666", SYMLINK+="video_cn"
