<!-- -*- mode: XML -*- -->
<launch>	  	
	<include file="$(find htbot)/launch/rosbridge_websocket.launch" />

  <node pkg="htbot" type="webNode" name="webNode" output="screen" required="true">		
		<param name="pose_file" value="$(find htbot)/data/posedata.dat" />				
  </node>  

	<node name="talkNode" pkg="htbot" type="talkNode" respawn="true" output="screen" ></node>

	<include file="$(find htbot)/launch/motor_params_htbot.launch" />

	<include file="$(find htbot)/launch/config.launch" />

	<!--include file="$(find htbot)/launch/hokuyo.launch" /-->
	<include file="$(find htbot)/launch/sick_tim571.launch" />
	<node name="laserNode" pkg="htbot" type="laserNode" respawn="true" output="screen" ></node>
	<include file="$(find htbot)/launch/laserlink_sick.launch" />
	<!--include file="$(find htbot)/launch/sidelaser.launch" /-->
	<!--include file="$(find htbot)/launch/centrallaser.launch" /-->

	<node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" ></node>
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="freq" value="15.0"/>
		<!--remap from="imu_data" to="/android_sensors_driver_imu"/-->
		<remap from="imu_data" to="/imu_3dm_node/imu/data"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
  </node>

	<node name="movNode" pkg="htbot" type="movNode" output="screen" ></node>
	<!--node name="nmovNode" pkg="htbot" type="nmovNode" output="screen" ></node-->  

	<!--node name="lumNode" pkg="htbot" type="lumNode" output="screen" ></node--> 


	<include file="$(find htbot)/launch/amcl_htbot_sick.launch" />

	<!--include file="$(find htbot)/launch/htbot_debug.launch" /-->
	<include file="$(find htbot)/launch/htbot_event.launch" />

	<!--include file="$(find htbot)/launch/joystick_ms.launch" /-->

	<node name="clearNode" pkg="htbot" type="clearNode" output="screen" ></node>	
	  	
	<include file="$(find htbot)/launch/move_base_htbot_sick.launch" />

	<node name="match" pkg="htbot" type="match" output="screen" ></node>

	<node name="podom" pkg="htbot" type="podom" output="screen" ></node>


	<!--include file="$(find lumileds)/launch/call_station.launch" /-->

	<node name="mapzone" pkg="htbot" type="mapzone" respawn="true" output="screen" ></node>

	<include file="$(find htbot)/launch/refscan.launch" />

	<node name="dash" pkg="htbot" type="dash" respawn="true" output="screen" ></node>

	<node name="UnoNode" pkg="rosserial_python" type="serial_node.py" output="screen" >
		<param name="port" value= "/dev/sensors/Uno"/>
	</node>
	<node name="amclpose" pkg="htbot" type="amclpose" respawn="true" output="screen" ></node>
	<node name="check" pkg="htbot" type="check" respawn="true" output="screen" ></node>
	<!--node name="dephNode" pkg="htbot" type="depnode" respawn="true" output="screen" ></node-->
	<include file="$(find realsense2_camera)/launch/rs_camera_rac.launch" />
	<include file="$(find laserscan_kinect)/launch/laserscan_rac.launch" />
	<node name="sgoal" pkg="htbot" type="sgoal" respawn="true" output="screen" ></node>		
	<!--include file="$(find htbot)/launch/depth.launch" /-->
	<!--node name="motorc" pkg="htbot" type="motorc" respawn="true" output="screen" ></node-->
	<!--node name="CMapNode" pkg="htbot" type="CMapNode" respawn="true" output="screen" ></node-->
	<!--include file="$(find htbot)/launch/matcher.launch" /-->
	<!--include file="$(find htbot)/launch/razor-pub.launch" /-->
	<include file="$(find microstrain_3dm_gx3_45)/launch/imu.launch" />
	<!--include file="$(find htbot)/launch/motor_controller.launch" /-->
</launch>
