<!-- -*- mode: XML -*- -->
<launch>
	<param name="navfn/allow_unknown" value="false"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" launch-prefix="taskset -c 2" >
    <rosparam file="$(find htbot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find htbot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find htbot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find htbot)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find htbot)/config/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find htbot)/config/nys_params.yaml" command="load" />		
  </node>
</launch>
