# UVC cameras
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="15aa", ATTRS{idProduct}=="1555", SYMLINK+="videocam"
#SUBSYSTEM=="video4linux", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0826", SYMLINK+="videocam"
