<!-- -*- mode: XML -*- -->
<launch>
   
  <include file="$(find htbot)/launch/motor_params_htbot.launch" />	          
	<include file="$(find htbot)/launch/config.launch" />	
	<node pkg="tf" type="static_transform_publisher" name="laser_joint" args="0.23 0 0.05 0 0 0 /base_link /laser 20"> <!-- 0.27-->
  </node>
	<node pkg="tf" type="static_transform_publisher" name="llaser_joint" args="0.12 0.00 0.05 0 0 0 /base_link /llaser 20">
  </node>
	<node pkg="tf" type="static_transform_publisher" name="rlaser_joint" args="0.12 0.0 0.05 0 0 0 /base_link /rlaser 20">
  </node>
	<node pkg="tf" type="static_transform_publisher" name="tlaser_joint" args="0.255 0.0 0.05 0 0 0 /base_link /tlaser 20">
  </node>
  <node pkg="tf" type="static_transform_publisher" name="baselink_joint" args="0.0 0 0.050 0 0 0 /base_footprint /base_link 20">
  </node>
	<node pkg="tf" type="static_transform_publisher" name="maplaser_joint" args="0.0 0.0 0.05 0 0 0 /base_link /maplaser 20">
  </node>
	<node pkg="tf" type="static_transform_publisher" name="refscan_joint" args="0.0 0.0 0.05 0 0 0 /base_link /refscan 20">
  </node>

	<node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" ></node>

  <!-- The odometry estimator -->
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="freq" value="20.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
  </node>

</launch>
