<!-- -*- mode: XML -*- -->
<launch>
   
	<node pkg="tf" type="static_transform_publisher" name="laser_joint" args="0.3 0 0.05 0 0 0 /base_link /laser 30"> <!-- 0.27-->
  </node>
	<!--node pkg="tf" type="static_transform_publisher" name="llaser_joint" args="0.12 0.00 0.05 0 0 0 /base_link /llaser 20">
  </node-->
	<!--node pkg="tf" type="static_transform_publisher" name="rlaser_joint" args="0.12 0.0 0.05 0 0 0 /base_link /rlaser 20">
  </node-->
	<!--node pkg="tf" type="static_transform_publisher" name="tlaser_joint" args="0.255 0.0 0.05 0 0 0 /base_link /tlaser 20">
  </node-->
  <node pkg="tf" type="static_transform_publisher" name="baselink_joint" args="0.0 0 0.050 0 0 0 /base_footprint /base_link 30">
  </node>
	<node pkg="tf" type="static_transform_publisher" name="maplaser_joint" args="0.0 0.0 0.05 0 0 0 /base_link /maplaser 30">
  </node>	
	<node pkg="tf" type="static_transform_publisher" name="refscan_joint" args="0.27 0.0 0.05 0 0 0 /base_link /refscan 30">
  </node>

</launch>
