<!-- -*- mode: XML -*- -->
<launch>	
	
	<machine name="rac0" address="192.168.1.100" env-loader="/home/rac/globotix.sh" timeout="20" user="rac" password="rac"/>
	<machine name="rac1" address="192.168.1.101" env-loader="/home/rac/globotix.sh" timeout="20" user="rac" password="rac" />
	<machine name="rac2" address="192.168.1.102" env-loader="/home/rac/globotix.sh" timeout="20" user="rac" password="rac" />

	<node name="mapzone" pkg="htbot" type="mapzone" respawn="true" output="screen" ></node>
	<include file="$(find htbot)/launch/rosbridge_websocket.launch" />
  <node pkg="htbot" type="webNode" name="webNode" output="screen" required="true">		
		<param name="pose_file" value="$(find htbot)/data/posedata.dat" />				
  </node>  
	<node name="rac1" pkg="videocontrol" type="rac1" output="screen" machine="rac1" ></node>
	<node name="talkNode" pkg="htbot" type="talkNode" respawn="true" output="screen" ></node>	
	<include file="$(find htbot)/launch/motor_params.launch" />
	<include file="$(find htbot)/launch/config.launch" />
	<include file="$(find htbot)/launch/event.launch" />
	<include file="$(find htbot)/launch/RoboSense.launch" />
	<include file="$(find htbot)/launch/ptcloud_RoboSense.launch" />
	<include file="$(find htbot)/launch/sick_tim_781S.launch" />		
	<include file="$(find htbot)/launch/laserlink.launch" />	
	<include file="$(find htbot)/launch/combineSick.launch" />
	<node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" ></node>
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="freq" value="20.0"/>
		<remap from="imu_data" to="/imu_3dm_node/imu/data"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
  </node>
	<node name="dash" pkg="htbot" type="dash" respawn="true" output="screen" ></node>	
	<!--node name="UnoNode" pkg="rosserial_python" type="serial_node.py" output="screen" >
		<param name="port" value= "/dev/sensors/Uno"/>
	</node-->	
	<include file="$(find htbot)/launch/move_base.launch" />
	<include file="$(find htbot)/launch/joystick.launch" />	
	<include file="$(find videocontrol)/launch/HDCam_rac0.launch" />
	<include file="$(find htbot)/launch/amcl.launch" />		
	<node name="movNode" pkg="htbot" type="movNode" output="screen" ></node>
	<node name="clearNode" pkg="htbot" type="clearNode" output="screen" ></node>		
	<node name="match" pkg="htbot" type="match" output="screen" ></node>	
	<node name="amclpose" pkg="htbot" type="amclpose" respawn="true" output="screen" ></node>	
	<node name="check" pkg="htbot" type="check" respawn="true" output="screen" ></node>	
	<include file="$(find htbot)/launch/refscan.launch" />
	<node name="sgoal" pkg="htbot" type="sgoal" respawn="true" output="screen" ></node>
	<node name="weblaser" pkg="htbot" type="weblaser" respawn="true" output="screen" ></node>		
	<node name="dyna" pkg="htbot" type="dyna" respawn="true" output="screen" ></node>
</launch>
