<!-- -*- mode: XML -*- -->
<launch>
	<node   name="move_base" pkg="asr_move_base_base" type="move_base" respawn="false"  output="screen">
   <param name="controller_frequency" value="5"/>
   <param name="planner_frequency" value="5"/>
   <param name="base_local_planner" value="ftc_local_planner/FTCPlanner" />
   <rosparam file="$(find htbot)/asr_config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
   <rosparam file="$(find htbot)/asr_config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
   <rosparam file="$(find htbot)/asr_config/global_costmap_params.yaml" command="load"/>
   <rosparam file="$(find htbot)/asr_config/local_costmap_params.yaml" command="load"/>
   <rosparam file="$(find htbot)/asr_config/ftc_local_planner_params.yaml" command="load"/>
  </node>

	<node name="move_base" pkg="asr_move_base_base" type="move_base" respawn="false" output="screen">

		<param name="controller_frequency" value="5"/>
		<param name="planner_frequency" value="5"/>
		<param name="base_local_planner" value="ftc_local_planner/FTCPlanner" /> 
		<rosparam file="$(find package)/...global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find package)/.../ftc_local_planner_params.yaml" command="load"/>

	</node>

</launch>
